div(class='basics')
  span.name=resume.basics.name
  span.label=resume.basics.label

if helper.validArray(resume.basics.profiles) || resume.basics.url
  div.basic-details
    if resume.basics.phone
      +withIcon.fa-solid.fa-phone
        a(href=`tel:${resume.basics.phone}`)=resume.basics.phone
    if resume.basics.email
      +withIcon.fa-solid.fa-envelope
        a(href=`mailto:${resume.basics.email}`)=resume.basics.email
