if helper.validArray(resume.basics.profiles) || resume.basics.url
  div(class='links')
    if resume.basics.url
        a(href=resume.basics.url)!=helper.beautifyLink(resume.basics.url)
    each profile in resume.basics.profiles
        a(href=profile.url)!=helper.beautifyLink(profile.url)
