if resume.basics.summary
  div(class='summary-section margin-container-4 no-break')
    p(class='section-title no-alone-1') Summary
    div(class='container markdown')!=helper.mdToHtml(resume.basics.summary)
