@use "sass:color";

a {
  color: $text-color;
  font-weight: inherit;
  text-decoration: none;

  &[href] {
    text-decoration: underline;
    text-decoration-color: color.adjust($text-color, $lightness: 40%);
  }
}

p,
q {
  line-height: $line-height-1;
}

li {
  line-height: $line-height-2;

  &:first-child {
    margin-top: 0;
  }
}

.content {
  width: $content-width;
  height: auto;
  margin: $space-2 auto;
  font-family: Raleway, Helvetica, Arial, sans-serif;
  color: $text-color;

  border: $border;
}

.table {
  width: 100%;
  display: grid;

  .content > & {
    grid-template-columns: $content-side-percentage $content-main-percentage;
    border-top: $border-dim;
  }

  .side {
    border-right: $border-dim;
  }

  :is(.side, .main) {
    padding: 0 $space-1;

    > div:not(:first-child) {
      border-top: $border-dim;
      padding: 0 $space-1;
    }
  }
}

.summary {
  font-size: $font-size-small;

  &:empty {
    display: none;
  }
}

.section-title {
  font-size: $font-size-xlarge;
  font-weight: 100;
  margin: 0 0 $space-2 0;
  font-variant-caps: small-caps;
  text-align: center;
}
